# ngrok tunnel
export TUNNEL_DIR=~/workspace/concourse-starter/ngrok-env
export TUNNEL_API_URL=http://localhost:4040/api/tunnels
source ./ngrok-env/tunnel.env

# concourse db
export POSTGRES_USER=concourse
export POSTGRES_PASSWORD=changeme

# concourse web
export CONCOURSE_BASIC_AUTH_USERNAME=concourse
export CONCOURSE_BASIC_AUTH_PASSWORD=changeme
